<section data-ng-controller="DealsController" data-ng-init="fillStats()">

<div class="col-sm-12" id="footer">
    <div class="row">

        There are {{dealsCount}} Deals

        <div class="margin">
            <div class="col-lg-6" ng-repeat="alert in alerts">
                <div class="row">
                    <div class="col-xs-4">
                        <h1 class="pull-right">
                            <button type="button" class="btn " ng-class="alert.colour">
                                <i class="glyphicon " ng-class="alert.icon"></i>
                            </button>
                        </h1>
                    </div>
                    <div class="col-xs-8">
                        <h1>{{alert.total}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-4">
                        <span class="text-muted">{{alert.description}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</section>
