<section data-ng-controller="AuthenticationController">


    <div class="col-sm-12 login-form-bg">

        <div class="col-md-6 ">

            <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="on">

                <fieldset>

                <div class="form-group">

                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>

                    <h3 class="col-md-12 text-center">Sign in using your Email</h3></br></br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                        <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" id="username" name="username" class="form-control"
                               data-ng-model="credentials.username" placeholder="Username">
                    </div>


                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-asterisk"></i>
                        </span>
                        <input type="password" id="password" name="password" class="form-control"
                               data-ng-model="credentials.password" placeholder="Password">
                    </div>
                </div>

                </fieldset>

                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block"> Sign in</button>

                </div>
                <div class="forgot-password text-center">
                    <a href="/#!/password/forgot">Forgot your password?</a>

                </div>


                </fieldset>
            </form>

            <h3 class="col-md-12 text-center">Or Sign in using your Social Accounts</h3>


            <a href="/auth/facebook" class="undecorated-link social-buttons">
                <button class="btn-primary btn-lg btn-block">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </button>
            </a>

            <a href="/auth/google" class="undecorated-link social-buttons">
                <button class="btn-danger btn-lg btn-block">
                    <i class="fa fa-google"></i> Sign in with Google
                </button>
            </a>

            </br>

        </div>

        <div class="col-md-6">


        </div>
    </div>


</section>


<!--<div class="col-md-6 login-form-bg">-->

<!--<div class="col-md-6 text-center">-->
<!--<a href="/auth/facebook" class="undecorated-link">-->
<!--<img src="http://i.stack.imgur.com/pZzc4.png">-->
<!--</a>-->

<!--<a href="/auth/google" class="undecorated-link">-->
<!--<img src="https://www.rallynavigator.com/assets/google_oauth2-login-button-ed6aed045833ca8aa0c53d476bc9e128.png">-->
<!--</a>-->
<!--&lt;!&ndash;<a href="/auth/twitter" class="undecorated-link">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="/modules/users/img/buttons/twitter.png">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/auth/linkedin" class="undecorated-link">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="/modules/users/img/buttons/linkedin.png">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/auth/github" class="undecorated-link">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="/modules/users/img/buttons/github.png">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</div>-->

<!--</div>-->

