.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

body {
	background-color: #eeeeee;
}

#footer{

    padding-top: 15px;
    padding-bottom: 15px;

    margin-top: 15px;
    margin-bottom: 15px;

    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;

}

#below-navbar{

    min-height: 100px;
    border: #000000 1px solid;
    padding: 15px;

}

#main-deals{

    min-height: 2200px;
    border: #000000 1px solid;
    padding: 15px;

}
#right-column{

    min-height: 2200px;
    border: #000000 1px solid;
    padding: 15px;

}
